<h2>Renew your password</h2>

<%= devise_error_messages! %>

 <%= semantic_form_for(resource, as: resource_name, url: [resource_name, :password_expired], :html => { :method => :put }) do |f| %>
  <%= f.inputs do %>
    <%= f.input :current_password,      as: :password, label: "Current password"%>
    <%= f.input :password,              as: :password, label: "New password" %>
    <%= f.input :password_confirmation, as: :password, label: "Password confirmation"%>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, "Change my password"%>
  <% end %>
<% end %>
