<h2>Renew your password</h2>

<p><%= flash[:notice] %></p>

<%= semantic_form_for(resource, as: resource_name, url: [resource_name, :password_expired], :html => { :method => :put }) do |f| %>
  <%= f.inputs do %>
    <%= f.input :current_password,      required: true, as: :password, label: "Current password"%>
    <%= f.input :password,              required: true, as: :password, label: "Future password" %>
    <%= f.input :password_confirmation, required: true, as: :password, label: "Password confirmation"%>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: "Change my password"%>
  <% end %>
<% end %>
